DATABASE_URL="postgres://dokploy:amukds4wi9001583845717ad2@localhost:5432/dokploy"
PORT=3000
NODE_ENV=development

# Nettalco branding (sin whitelabeling de pago)
NEXT_PUBLIC_APP_NAME="Nettalco"
NEXT_PUBLIC_APP_DESCRIPTION="Confeccionamos confianza y calidad para impulsar la (r)evolución responsable de la industria."
