PORT=3000
NODE_ENV=production

# Nettalco branding (sin whitelabeling de pago)
NEXT_PUBLIC_APP_NAME="Nettalco"
NEXT_PUBLIC_APP_DESCRIPTION="Confeccionamos confianza y calidad para impulsar la (r)evolución responsable de la industria."